<h1 *ngIf="firebaseService.user | async">Welcome {{ (firebaseService.user | async)?.email }}!</h1>


  <input type="text" [(ngModel)]="user.email" placeholder="email">
  <input type="password" [(ngModel)]="user.password" placeholder="senha">

  <button (click)="signInWithEmail()" [disabled]="!user.email || !user.password">
    Login
  </button>


<button (click)="logout()" *ngIf="firebaseService.user | async">
  Logout
</button>

<button type="button" class="btn btn-block" (click)="signInWithGoogle()">
  Login with Google
</button>

<button type="buton" class="btn btn-block" (click)="signInWithFacebook()">
  <i class="fa fa-facebook" aria-hidden="true"></i>
  Login with Facebook
</button>
