.bg-fundo{
    background: url(https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/bg02.png?alt=media&token=1da68cbc-3634-4402-9ed3-d1c9e5f682b6);
    z-index: -999999;
    height: 100vh;
  }

  .bg-resultado{
    background: url(https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Layout_BG.png?alt=media&token=2cb3df9f-19e2-4c21-a392-1bd536805c82);
    display: grid;
    grid-template-columns: 2fr 2fr;
    background-repeat: no-repeat;
    background-size: cover;

    }
.img-resultado{
  grid-template-rows: 2fr 2fr;
}

    #chanel{
      grid-row: 1/1;
      background: url("/assets/img/Layout_CHANEL.png");
      background-repeat: no-repeat;

      width: 100%;

      height: 26rem;
      object-fit: cover;

      background-position: center center;
      background-size: 100%;

    }
    #barra{
      background: url("/assets/img/Layout_junior.png");
      grid-row: 2/2;
      background-repeat: no-repeat;
      width: 100%;
      height: 3rem;
      object-fit: cover;
      background-position: center center;

    }

    .resultado{
        grid-column: 2/2;
        padding-top: 30px;
    }

    .pontuacao{
        color:#0a6ae2;
        font-size: 7rem;
    }

    .nivel{
        color: #fff;
    }

    span{
        font-size: 5rem;
    }


  .btn-facebook {
    color: #fff !important;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}


.btn-social {
    position: relative;

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {

  left: 0;

  top: 0;

  bottom: 0;

  width: 1em;

  padding: -1px;



  text-align: center;

  border-right: 1px solid rgba(0,0,0,0.2);
}



  @media screen and (max-width: 768px){
    .bg-resultado{
     display: grid;
      grid-template-columns: auto;

      }

      .img-resultado{
          grid-column: 1/1;
      }

      .resultado{
          grid-column: 1/1;
          padding-top: 30px;
      }
      .pontuacao{
        color:#002b5f;
        font-size: 7rem;
    }
  }
