<div class="bg-fundo">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="../assets/img/Layout_Logo.png" id="logo" alt="">
    </div>
      <div class="card bg-resultado">
        <div class="img-resultado text-center">
              <img src="../assets/img/Layout_CHANEL.png" alt="">
            <img src="../assets/img/Layout_junior.png" alt="">
        </div>
        <div class="resultado text-center"> 
          <h1 class="pontuacao">{{pontuacao}}</h1>
          <h1 class="nivel">Parabéns! Seu nível é <span>{{nivel}}</span></h1>

        </div>
      </div>


    </div>

</div>





