<div class="bg-fundo">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="../assets/img/Layout_Logo.png" id="logo" alt="">
    </div>
      <div class="card bg-resultado">
        <div class="img-resultado text-center">

              <div id="chanel"></div>
              <div id="barra"></div>

        </div>
        <div class="resultado text-center">
          <h1 class="pontuacao">{{pontuacao}}</h1>
          <h1 class="nivel">Parabéns! Seu nível é: <br><span>{{nivel}}</span></h1>
          <a class="btn btn-lg mb-4 btn-social btn-facebook face-buttom" href="https://web.facebook.com/sharer.php?u=http%3A%2F%2Fwww.mpv.designermatch.com.br">
            <i class="icon-font fab fa-facebook-f" aria-hidden="true"></i> Compartilhe no Facebook
        </a>
        </div>
      </div>


    </div>

</div>





