<div class="bg-fundo">
  <div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div *ngFor="let item of perguntas">

        <!-- <div  class="row mb-2">


          <div class="col-md-6  ">
            <img src="{{item.img}}" alt="">

          </div>
            <div class="form-group">
                <h2 type="text" #updatetext>{{item.titulo}}</h2>
            <div class="form-control">
              <label class="">
                <input type="radio" name="{{item.questao}}" value="a" required="true" [ngModel]> {{ item.a }}
              </label>
              <label class="">
                <input type="radio" name="{{item.questao}}" value="b" required="true" ngModel> {{ item.b }}
              </label>

              <label class="">
                <input type="radio" name="{{item.questao}}" value="c" required="true" ngModel> {{ item.c }}
              </label>
              <label class="">
                <input type="radio" name="{{item.questao}}" value="d" required="true" ngModel> {{ item.d }}
              </label>

            </div>
          </div>
        </div> -->

        <div class="card flex-md-row mb-6 box-shadow h-md-250 ">

          <div class="pergunta-img" [ngStyle]="{'background-image':'url('+item.img+')'}"></div>
            
                
              <div class="card-body  d-lg-block">
                  <div class="">
                      <strong class="d-inline-block mb-2 text-primary"></strong>
                      <p class="mb-1">{{item.titulo}}</p>
                    </div>
                <div class="btn-group-vertical btn-block btn-group-toggle " data-toggle="buttons">
                  <label class="btn btn-light btn-pergunta">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> {{ item.a }}
                  </label>
                  <label class="btn btn-light btn-pergunta">
                    <input type="radio" name="options" id="option2" autocomplete="off"> {{ item.b }}
                  </label>
                  <label class="btn btn-light btn-pergunta">
                    <input type="radio" name="options" id="option3" autocomplete="off"> {{ item.c }}
                  </label>
                  <label class="btn btn-light btn-pergunta">
                      <input type="radio" name="options" id="option3" autocomplete="off"> {{ item.d }}
                    </label>
                </div>
                
              </div>



            
        
        </div>



      </div>

      <div *ngIf="nextKey; else proximo" class="d-flex justify-content-center mt-3" >
        <button type="submit" class="btn btn-primary" (click)="nextPage()" [disabled]="!f.valid">Submit</button>

      </div>
      <ng-template #proximo>
        <button class="center btn btn-primary" (click)="enviaForm()" [disabled]="!f.valid">envia</button>
      </ng-template>
    </form>
  </div>

</div>
<!-- <div *ngFor="let item of perguntas; index as i">

  <h1>{{ item.titulo | json }}</h1>

</div> -->
<!--
<button (click)="prevPage()" [disabled]="!prevKeys?.length">Anterior</button>
<button (click)="nextPage()" [disabled]="!nextKey">Proxima</button> -->