<div class="bg-fundo">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img src="../assets/img/Layout_Logo.png" id="logo" alt="">

    </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div *ngFor="let item of perguntas; let i = index">

          <div class="grid-form card">

              <!-- <div class="pergunta-img" [ngStyle]="{'background-image':'url('+item.img+')'}"></div> -->
              <img src="{{ item.img }}" class="pergunta-img" alt="">
              <div class="pergunta-quest">
                 <h1>
                    <!-- <strong class="d-inline-block mb-2 text-primary mx-3">{{ i+1 }}</strong> -->
                 </h1>
                <h3 class="p-4">{{item.titulo}}</h3>

                <div class="d-flex btn-group-vertical btn-block ">
                    <label class="btn btn-light btn-pergunta border my-1  ">
                        <input type="radio" name="{{item.questao}}" value="a" required="true" [ngModel]> {{ item.a }}
                      </label>
                      <label class="btn btn-light btn-pergunta border my-1  ">
                        <input type="radio" name="{{item.questao}}" value="b" required="true" ngModel> {{ item.b }}
                      </label>

                      <label class="btn btn-light btn-pergunta border my-1  ">
                        <input type="radio" name="{{item.questao}}" value="c" required="true" ngModel> {{ item.c }}
                      </label>
                      <label class="btn btn-light btn-pergunta border my-1  ">
                        <input type="radio" name="{{item.questao}}" value="d" required="true" ngModel> {{ item.d }}
                      </label>


                </div>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <div *ngIf="nextKey; else proximo" >
                    <button type="submit" class="btn btn-primary" (click)="nextPage()" [disabled]="!f.valid">próximo</button>
                  </div>

                  <ng-template #proximo>
                      <!-- <button type="submit" class="btn btn-primary" (click)="nextPage()" [disabled]="!f.valid">S</button> -->

                      <button class="btn btn-primary" (click)="enviaForm()" [disabled]="!f.valid">Finalizar!</button>
                    </ng-template>
                  </div>

        </div>

      </form>

    </div>

</div>




<!-- <div *ngFor="let item of perguntas; index as i">

  <h1>{{ item.titulo | json }}</h1>

</div> -->
<!--
<button (click)="prevPage()" [disabled]="!prevKeys?.length">Anterior</button>
<button (click)="nextPage()" [disabled]="!nextKey">Proxima</button> -->


        <!-- <div  class="row mb-2">


          <div class="col-md-6  ">
            <img src="{{item.img}}" alt="">

          </div>
            <div class="form-group">
                <h2 type="text" #updatetext>{{item.titulo}}</h2>
            <div class="form-control">
              <label class="">
                <input type="radio" name="{{item.questao}}" value="a" required="true" [ngModel]> {{ item.a }}
              </label>
              <label class="">
                <input type="radio" name="{{item.questao}}" value="b" required="true" ngModel> {{ item.b }}
              </label>

              <label class="">
                <input type="radio" name="{{item.questao}}" value="c" required="true" ngModel> {{ item.c }}
              </label>
              <label class="">
                <input type="radio" name="{{item.questao}}" value="d" required="true" ngModel> {{ item.d }}
              </label>

            </div>
          </div>
        </div> -->


        <!-- <label class="btn btn-light btn-pergunta border my-1">
            <input type="radio" name="{{item.questao}}" value="a" required="true" [ngModel]> {{ item.a }}
            </label>
            <label class="btn btn-light btn-pergunta border my-1  ">
              <input type="radio" name="{{item.questao}}" value="b" required="true" [ngModel]> {{ item.b }}
            </label>
            <label class="btn btn-light btn-pergunta border my-1 ">
              <input type="radio" name="{{item.questao}}" value="c" required="true" [ngModel]> {{ item.c }}
            </label>
            <label class="btn btn-light btn-pergunta border my-1">
              <input type="radio" name="{{item.questao}}" value="d" required="true" [ngModel]>  {{ item.d }}
            </label> -->
