.bg{
height: 100vh;
z-index: -999999;
background: url(https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Layout_BG.png?alt=media&token=2cb3df9f-19e2-4c21-a392-1bd536805c82);

display: grid;
grid-template-columns: 2fr 1fr 1fr 2fr;
grid-template-rows: 0.5fr 1fr 0.2fr 1fr 1fr;
background-repeat: no-repeat;
background-size: 200%;

}
.logo{
  /* background: url(https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Layout_Logo02.png?alt=media&token=d7b809f9-812f-4854-abf8-921e7d4fbd8c); */
  grid-column: 2/4;
  margin: 0 auto;
  padding-top: 60px;
  color: white;
}

.texto{
  grid-column: 1/5;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 3rem;
  font-weight: 900;
  text-shadow: 1px 1px 4px #0000006e;
  font-family: sans-serif;
}

.btn-primary {
  color: #ff8400;
  background-color: #f7e547;
  border-color: #fceb56;
  font-size: 1.5rem;
  font-weight: 200;
  padding-left: 2rem;
  padding-right: 2rem;

}
.btn-home{
  grid-column: 2/4;
  grid-row: 3;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 569px){
.bg{
  height: auto;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto;
    background-size: cover;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

  }
  .texto{
    font-weight: normal;
    color:white;
    text-align: left;

    font-size: 4em;
    padding: 2rem;
  }
  .logo{
    /* background: url(https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Layout_Logo02.png?alt=media&token=d7b809f9-812f-4854-abf8-921e7d4fbd8c); */
    grid-column: 1/3;
    margin: 0 auto;
    padding-top: 60px;
    color: white;
  }
  .btn-home{
    grid-column: 1/3;
    grid-row: 3;
    font-size: 20px;
    text-align: center;
  }
  .btn-primary {
    margin-bottom: 2rem;
  }


}
