.bg{
height: 100vh;
z-index: -999999;
background: url(https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Layout_BG.png?alt=media&token=2cb3df9f-19e2-4c21-a392-1bd536805c82);

display: grid;
grid-template-columns: 2fr 1fr 1fr 2fr;
grid-template-rows: 0.5fr 1fr 0.2fr 1fr 1fr;
background-repeat: no-repeat;
background-size: cover;

}
.logo{
  /* background: url(https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Layout_Logo02.png?alt=media&token=d7b809f9-812f-4854-abf8-921e7d4fbd8c); */
  grid-column: 2/4;
  margin: 0 auto;
  padding-top: 60px;

}

.texto{
  grid-column: 2/4;
  margin: 20px auto;
  font-weight: bold;

}

.btn-primary {
  grid-column: 2/4;
  grid-row: 3;
  color: #fcac56;
  background-color: #fceb56;
  border-color: #fceb56;
  font-size: 20px;
}

@media screen and (max-width: 600px){
.bg{

    grid-template-columns: 1fr;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */

  }

}
