<div class="bg">
  <div class="logo">
    <img src="https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Layout_Logo02.png?alt=media&token=d7b809f9-812f-4854-abf8-921e7d4fbd8c" alt="">
  </div>

  <div class="texto">
    <h2><strong>
        Bem vindo à plataforma que vai testar suas habilidades como Designer.
        <br> São 10 perguntas de múltipla escolha e diferentes níveis de dificuldades pra você descobrir se é um Designer Júnior, Pleno ou Sênior.

    </strong>
      </h2>
  </div>
  <div class="btn-home">
    <a class="btn btn-primary  btn-sm" href="#" routerLink="/questionario" role="button">COMEÇAR</a>
    <a target="_blank"
    href="https://firebasestorage.googleapis.com/v0/b/gama-assignment-3.appspot.com/o/Guia%20de%20bolso%20photoshop.pdf?alt=media&token=f507025d-e602-4b64-b494-0d7e9283d92a
    "
    download="guia">Guia</a>
  </div>

</div>
